# --- Infrastructure ---
REDIS_URL=redis://localhost:6379/0
ENV=development

# --- Google Cloud Platform ---
# Path to your Service Account JSON file
GOOGLE_APPLICATION_CREDENTIALS=

# --- Firebase ---
# Path to your Firebase Service Account JSON file
FIREBASE_SERVICE_ACCOUNT=

# --- Frontend ---
VITE_GOOGLE_MAPS_API_KEY=
